





<h1>Editar carro</h1>
<form action="/carros/<%= carro.id %>?_method=PUT" method="POST">
    <div class="form-group">
        <label for="marca">Marca</label>
        <input type="text" class="form-control" id="marca" name="marca" value="<%= carro.marca %>" required>
    </div>
    <div class="form-group">
        <label for="modelo">Modelo</label>
        <input type="text" class="form-control" id="modelo" name="modelo" value="<%= carro.modelo %>" required>
    </div>
    <div class="form-group">
        <label for="placa">Placa</label>
        <input type="text" class="form-control" id="placa" name="placa" value="<%= carro.placa %>" required>
    </div>
    <button type="submit" class="btn btn-warning">atualizar</button>
</form>
