<h1>User Details</h1>
<p>ID: <%= carro.id %></p>
<p>Marca: <%= carro.marca %></p>
<p>Modelo: <%= carro.modelo %></p>
<p>Placa: <%= carro.placa %></p>
<a href="/carros" class="btn btn-primary">Voltar</a>
